name: continuous-integration

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  precheck:
    name: Precheck
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - --features ""
          - --features "experimental"
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Check Clippy
      run: cargo clippy ${{ matrix.features }} --examples --tests

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: precheck
    strategy:
      matrix:
        targets:
          - wasm32-wasip1
          - x86_64-unknown-linux-gnu
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
        targets: wasm32-wasip1
    - name: Install wasmtime
      uses: bytecodealliance/actions/wasmtime/setup@v1
    - name: Run test
      run: cargo test --all-features --target ${{ matrix.targets }}
